<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Welcome to our service research page!</h2>
    <p>You can find our service project categories below:</p>

    <ul>
        <% categories.forEach(category => { %>
            <li><a href="/category/<%= category.category_id %>"><%= category.category_name %></a></li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>