<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Service Projects</h2>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <%= new Date(project.start_date).toLocaleDateString() %>:
                <strong><%= project.project_name %></strong>
                (<%= project.organization_name %>)
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>