<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <% if (project) { %>
        <h2><%= project.title %></h2>
        <p><strong>Description:</strong> <%= project.description %></p>
        <p><strong>Date:</strong> <%= new Date(project.date).toLocaleDateString() %></p>
        <p><strong>Location:</strong> <%= project.location %></p>
        <p><strong>Partner Organization:</strong> <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a></p>
        <p><a href="/assign-categories/<%= project.project_id %>">Assign Categories to this Project</a></p>
       
    <% } else { %>
        <p>Service project not found.</p>
    <% } %>
         <p><a href="/update-project/<%= project.project_id %>">Edit Project</a></p>
</main>

<%- include('partials/footer') %>
